# .env.example
PUBLIC_GA_ID=G-XXXXXXXXXX
PUBLIC_ENABLE_ANALYTICS=false
PUBLIC_ENABLE_ANALYTICS_FE=false
PUBLIC_ENABLE_ANALYTICS_BE=false
ANALYTICS_SECRETS=/file/path/to/ga4-api-secret/outside/of/repo.json