---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  description="About me"
  title="About me"
  pubDate={new Date("09-23-2025")}
>
  <p>
    I'm a Fullstack Team Lead with a bias towards the Frontend. I enjoy
    developing systems that solve problems or makes things easier for
    colleagues. I think we should go all in on the web as a platform, <abbr
      title="Single Page Applications">SPA</abbr
    > is over applied and we shouldn't JS everything.
  </p>
</Layout>
