---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
const SITE_TITLE = "Devlog • Oakenfold.ca";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Home</h1>
      <p>
        Playing around with a <a href="/posts/01-01/">Multitenant</a> Analytics application.
        This blog will document the process, milestones, and lessons learned.
      </p>

      <p>
        The blog is built with <a href="https://astro.build/">Astro</a> and what
        I do here will probably appear in the Frontend parts of the <abbr
          title="Multitenant Analytics Application">MtAA</abbr
        >
      </p>

      <p>
        The code for this blog is hosted on <a
          href="https://github.com/coakenfold/blog">GitHub</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
