---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
const SITE_TITLE = "OVERRIDE";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Oakenfold.ca &gt; Devlog</h1>
      <p>
        I'm building a <a href="https://en.wikipedia.org/wiki/Multitenancy"
          >Multitenant</a
        > Analytics application for my portfolio and to explore what I consider traditional
        Backend work. I created this blog to document the process, milestones, and
        lessons learned. Thanks for checking it out.
      </p>

      <p>
        The blog is built with <a href="https://astro.build/">Astro</a> and the stuff
        I do here will probably appear in the Frontend bits of the <abbr
          title="Multitenant Analytics Application">MtAA</abbr>
      </p>

      <p>
        The code for this blog is hosted on <a
          href="https://github.com/coakenfold/blog">GitHub</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
