---
import WebVitalsBatchedGA4 from "../components/WebVitals/WebVitalsBatchedGA4.astro";

import { config } from "../config.ts";
const { analytics } = config;
const { shouldEnableAnalytics } = analytics;

const today = new Date();
---

<footer class="siteFooter">
  &copy; {today.getFullYear()} Chad Oakenfold. All rights reserved.
  <div class="social-links"></div>
</footer>
<style>
  .siteFooter {
    text-align: center;
    font-size: small;
    padding: 1rem;
  }
</style>
{shouldEnableAnalytics && <WebVitalsBatchedGA4 />}
