---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="siteHeader">
  <nav>
    <h2>{SITE_TITLE}</h2>
    <div class="links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<style>
  .siteHeader {
    padding: 1rem;
    font-size: small;
  }
  .siteHeader .links a {
    margin: 0.3rem;
    font-size: medium;
  }
</style>
